body{
    background-image: url("../images/image1.jpg");
    /*background-repeat: no-repeat;*/
    background-size: cover;
	margin: 0;
	padding: 0;
	color: gray;
    height: 100%;
	font-size: 14px;
	font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}